* { padding: 0; margin: 0; }
ul { list-style: none; }
header, footer { display: block; }

html, body, table {
    font-size: 15px;
    font-family: Arial, Helvetica, serif;
}

header {
    color: white;
    width: 100%;

    background: black;
    background-image: linear-gradient(bottom, #525252 4%, #1F1F1F 40%, #000000 76%);
    background-image: -o-linear-gradient(bottom, #525252 4%, #1F1F1F 40%, #000000 76%);
    background-image: -moz-linear-gradient(bottom, #525252 4%, #1F1F1F 40%, #000000 76%);
    background-image: -webkit-linear-gradient(bottom, #525252 4%, #1F1F1F 40%, #000000 76%);
    background-image: -ms-linear-gradient(bottom, #525252 4%, #1F1F1F 40%, #000000 76%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, #525252),
        color-stop(0.4, #1F1F1F),
        color-stop(0.76, #000000)
    );
}

h1 {
    font-size: 28px;
    font-weight: bold;

    padding: 16px 0px;
}

h2 {
    font-size: 20px;
    margin: 0px;
    margin-top: 12px;
    margin-bottom: 8px;
}

h3 {
    padding-bottom: 8px;
}

p {
    margin-top: 12px;
    line-height: 20px;
}

form label {
    margin: 16px 0px;
    margin-right: 16px;
}

form input {
    margin: 4px 0px;
}

form input[type="text"] {
    width: 20em;
    padding: 2px 1px;
}

form input[type="submit"] {
    padding: 1px 6px;
}

table {
    border-collapse: collapse;
    border: solid 1px #aaf;
    padding-left: 2px;
    margin: 4px 0px;
    margin-bottom: 24px;
}

table td, table th {
    vertical-align: top;
    padding: 4px 8px;
}

table th {
    border-bottom: solid 1px #aae;
}

table.alternate tr:nth-child(even), table.alternate tr:nth-child(even) {
    background-color: #eef;
}

.column {
    width: 800px;
    margin: auto;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#content a {
    color: #a00;
    text-decoration: underline;
}

#content a:hover {
    color: #00a;
}

.main-container {
    position: relative;
}

#body-gradient {
    height: 400px;
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;

    background-image: linear-gradient(bottom, #FFFFFF 10%, #F2F2F2 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 10%, #F2F2F2 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 10%, #F2F2F2 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 10%, #F2F2F2 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 10%, #F2F2F2 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, #FFFFFF),
        color-stop(1, #F2F2F2)
    );
}

.timetable-link {
    color: gray;
    text-align: right;
}

.courses td {
    width: 130px;
    height: 80px;
    padding: 0;
    font-size: 0.8em;
}

.courses .cell {
    position: absolute;
    display: inline;
    border-radius: 999px;
}

.courses .cell.purple {
    background-color: rgba(196, 128, 196, 0.7);
}

.courses .cell-text.purple {
    color: rgb(128, 0, 128);
}

.courses .cell.red {
    background-color: rgba(196, 128, 128, 0.7);
}

.courses .cell-text.red {
    color: rgb(128, 0, 0);
}

.courses .cell.green {
    background-color: rgba(128, 196, 128, 0.7);
}

.courses .cell-text.green {
    color: rgb(0, 128, 0);
}

.courses .cell.blue {
    background-color: rgba(128, 128, 196, 0.7);
}

.courses .cell-text.blue {
    color: rgb(0, 0, 128);
}

.courses .cell.yellow {
    background-color: rgba(128, 196, 196, 0.7);
}

.courses .cell-text.yellow {
    color: rgb(0, 128, 128);
}

.courses .cell.orange {
    background-color: rgba(196, 196, 128, 0.7);
}

.courses .cell-text.orange {
    color: rgb(128, 128, 0);
}

.courses .cell.clash {
    border: dashed 2px red;
}
